@font-face {
  src: url("../assets/font/Quicksand/Quicksand-Bold.ttf");
  font-family: "Quicksand-Bold";
}

@font-face {
  src: url("../assets/font/Quicksand/Quicksand-Medium.ttf");
  font-family: "Quicksand-Medium";
}


html {
  width: 100%;
  height: 100%;
  background-color: #863bca;
}

body {
  margin: 0px;
  padding: 0px;
}

#icon-side {
  float: left;
  padding: 12px;
  margin-top: 15px;
}

#icon-side i {
  font-size: 42px;
  color: white;
}

#left-side {
  margin-top: 20px;
  color: white;
  float: left;
  width: 75%;
  padding: 3px 4px 0px 5px;
  font-family: 'Quicksand-Bold';
  margin-left: 10px;
}

#notification-body {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 12px;
  font-family: 'Quicksand-Bold';
}

#notification-footer {
  margin-top: 2px;
  font-size: 14px;
  font-family: 'Quicksand-Bold';
}

#right-side {
  float: right;
  width: 5%;
  color: white;
  margin-top: 5px;
}

#left-side #notification-icon-cont {
  margin: 10px 10px 0px 10px;
}
