@font-face {
  src: url('../fonts/Alegreya/Alegreya-Italic.ttf');
  font-family: 'Alegreya-Italic';
}

@font-face {
  src: url('../fonts/Courgette/Courgette-Regular.ttf');
  font-family: 'Courgette-Regular';
}

@font-face {
  src: url('../fonts/Quicksand/Quicksand-Light.ttf');
  font-family: 'Quicksand-Light';
}

@font-face {
  src: url('../fonts/Quicksand/Quicksand-Bold.ttf');
  font-family: 'Quicksand-Bold';
}

@font-face {
  src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
  font-family: 'Ubuntu-Light';
}

@font-face {
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-family: 'Ubuntu-Regular';
}

@font-face {
  src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
  font-family: 'Ubuntu-Medium';
}

@font-face {
  src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
  font-family: 'Ubuntu-Bold';
}

@font-face {
  src: url('../fonts/roboto/Roboto-Regular.tff');
  font-family: 'Roboto-Regular';
}

@font-face {
  src: url('../fonts/roboto/Roboto-Light.tff');
  font-family: 'Roboto-Light';
}

@font-face {
  src: url('../fonts/roboto/Roboto-Thin.tff');
  font-family: 'Roboto-Thin';
}

@font-face {
  src: url('../fonts/roboto/Roboto-Medium.tff');
  font-family: 'Roboto-Medium';
}

@font-face {
  src: url('../fonts/roboto/Roboto-Bold.tff');
  font-family: 'Roboto-Bold';
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
  padding: 2px;
  overflow: auto;
}

header div h1 {
  margin-left: 50px;
  margin-top: 5px;
  float: left;
  font-family: 'Ubuntu-Regular';
}

#header-icon-cont {
  float: right;
  margin-top: 15px;
  margin-right: 30px;
}

#header-icon-cont span {
  margin-left: 30px;
}

#header-icon-cont span i {
  font-size: 25px;
}

#task-add-input-box {
  width: 75%;
  margin: auto;
  font-family: 'Ubuntu-Regular';

  display: none;    /* Hide the task text input box. */
}

#task-add-input-box input {
  padding: 10px;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
  border: 0px;
  font-size: 16px;
}

#task-input-error-box { display: none; }

#task-list-cont {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  font-family: 'Ubuntu-Regular';
}

#task-list-cont ul li {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  box-shadow: -2px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

#task-list-cont ul li input {
  float: right;
  margin-top: 8px;
}

