@font-face {
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
  font-family: "Quicksand-Bold";
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
  font-family: "Ubuntu-Light";
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-family: "Ubuntu-Regular";
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
  font-family: "Ubuntu-Medium";
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
  font-family: "Ubuntu-Bold";
}

@font-face {
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-family: "Roboto-Regular";
}

@font-face {
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-family: "Roboto-Light";
}

@font-face {
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-family: "Roboto-Medium";
}

body {
  margin: 0px;
  padding: 0px;
}

#log-error-cont {
  background-color: rgb(138, 20, 20);
  color: white;
  padding: 10px 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  font-family: 'Roboto-Regular';
  border-radius: 2px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  animation-duration: 300ms;

  display: none;
}

#connection-tracker-cont-close-btn {
  position: absolute;
  right: 10px;
  top: 0px;
  color: white;

  display: none;
}

/* #connection-tracker-cont-close-btn i { color: black; } */

#connection-tracker-cont {
  background-color: rgb(251, 95, 36);
  color: white;
  padding: 10px 30px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 999;
  font-family: 'Roboto-Regular';
  border-radius: 2px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;

  display: none;
}

#connection-tracking-icon {
  margin-right: 20px;
  display: none; 
}

#connection-tracking-icon i { 
  color: white; 
  font-size: 25px;
  vertical-align: middle;
}

#connection-tracking-message {
  vertical-align: middle;
}

#manual-connection-add {
  margin-top: 10px;
  display: none;
}

#manual-connection-add-btn {
  margin-left: 0px;
  background-color: #942c04;
}

#manual-connection-add input {
  color: white;
}

#manual-connection-add input::placeholder {
  font-family: 'Ubuntu-Regular';
  color: rgba(255, 255, 255, 0.5);
}

#manual-connection-error-badge {
  color: white;
  padding: 10px;
  font-size: 15px;
  
  display: none;
}

#local-storage-message {
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Ubuntu-Regular';
  margin-top: 20px;
  font-size: 17px;
}

#local-storage-message, #try-another-server-link {
  display: none;
}

#try-another-server-link {
  padding: 10px;
  margin-left: 0px;
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'Ubuntu-Regular';
  background-color: rgba(39, 24, 6, 0.7);
}

.loader {
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  font-size: 10px;
  text-indent: -9999em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 0.7s infinite linear;
  animation: load3 0.7s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: rgb(251, 95, 36);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading-screen {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  top: 0px;
  z-index: 999;
}

#load-screen-spinner {
  font-family: "Ubuntu-Regular";
  font-size: 18px;
  text-align: center; /* Center the text in the container. */
}

#load-screen-spinner .load-spinner {
  margin: auto; /* To center the load spinner horizontally. */
}

/* To center the loading screen. */
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px; /*whatever width you want*/
}

header {
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  overflow: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

#user-name-display {
  position: relative;
  z-index: 1;
}

header div h2 {
  color: white;
  margin-left: 50px;
  margin-bottom: 0px;
  float: left;
  font-family: "Ubuntu-Regular";
  position: relative;
  z-index: -1;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.2;
  letter-spacing: 1px;
}

#header-icon-cont {
  float: right;
  margin-top: 8px;
  margin-right: 30px;
}

#header-icon-cont span { margin-left: 30px; }
#header-icon-cont span i { font-size: 25px; }

#notification-count-badge {
  margin-left: 0px !important;
  position: relative;
  top: -16px;
  left: -8px;

  display: none;
}

#notification-icon i { color: white; }
#quick-access-btn i { color: white; }
#perform-sync { color: white; }
#perform-sync i { font-size: 22px !important; }

.sync-rotate {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#notes-icon { margin-right: -32px; }

#notes-icon i {
  color: white;
  vertical-align: -1px;
}

#switch-list-cont span {
  color: white;
  cursor: pointer;
  font-family: "Ubuntu-Regular";
  position: relative;
  top: -2px;
}

#delete-project-btn {
  display: none;
  color: white;
}

/* 
 * Placing the menu icon at the bottom. 
 * Since we do not want the header to be fixed.
 */
span#menu-icon {
  left: 35px;
  bottom: 35px;
  background-color: rgb(46, 56, 111);

  display: none;
}

#project-pane-message-box {
  color: white;
  text-align: center;

  display: none;
}

#project-pane-message-btn {
  margin: 20px auto;

  display: block;
}

.project-item {
  text-align: center;
  margin: 25px auto;
}

.float-btn {
  font-size: 25px;
  color: #fff;
  position: fixed;
  z-index: 9999;
  margin: 18px 20px;
  padding: 19px 26px;
  border-radius: 50%;
  box-shadow: -1px 3px 12px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 15;
}

#menu-icon {
  z-index: 9; /* Temporary placement. */
}

#project-tag-display {
  position: absolute;
  top: 100px;
  font-family: "Ubuntu-Regular";
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border-radius: 1px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  animation-duration: 0.3s;

  display: none;
}

#menu-icon-cover {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.3s;
  background-color: rgba(17, 17, 17, 0.95);
  z-index: 14;

  display: none;
}

.side-pane {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

/* The side navigation menu */
.sidenav {
  left: 0;
  background-color: rgba(17, 17, 17, 0.95);
  padding-top: 120px;
  font-family: "Ubuntu-Regular";
  font-weight: 600;
  z-index: 10;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#add-task-btn i {
  color: white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disable-fade {
  opacity: 0.5;
}

.input-box {
  width: 75%;
  margin: auto;
  margin-top: 54px;
  font-family: "Ubuntu-Regular";

  display: none; /* Hide the task text input box. */
}

.input-box input {
  padding: 10px;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
  border: 0px;
  font-size: 15px;
  font-family: "Ubuntu-Regular";
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 2px;
  border: 1px solid rgba(255, 156, 156, 0.24);
}

.input-box input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#task-input-error-box,
#project-input-error-box {
  display: none;
}

.list-cont {
  width: 70%;
  margin: auto;
  font-family: "Ubuntu-Regular";
  margin-top: 70px;
}

#project-task-list-cont {
  display: none;
}

.list-cont ul li {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  box-shadow: -2px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.task-start-date,
.task-end-time, .note-date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Quicksand-Bold";
}

.task-end-time {
  margin-left: 10px;
}

#startup-message-screen {
  overflow: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;

  display: none;
}

#startup-message {
  margin: auto;
  text-align: center;
  max-width: 700px;
  font-family: "Ubuntu-Light";
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
}

#startup-message h6 {
  margin-top: 20px;
}

#startup-message div {
  margin-top: 30px;
  display: block;
  font-weight: 600;
  font-family: "Ubuntu-Light";
}

#startup-message-btn p {
  margin: 0px;
}

#startup-message-spinner {
  margin: auto;
  display: none;
}

.load-spinner {
  margin: 20px;
  border: 1px solid #f3f3f3; /* Light grey */
  border-top: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.load-spinner-20 {
  margin: 20px;
  border: 1px solid #f3f3f3; /* Light grey */
  border-top: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 11000s linear infinite;
}

.load-spinner-30 {
  margin: 20px;
  border: 1px solid #f3f3f3; /* Light grey */
  border-top: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.task-options-cont, .note-options-cont {
  position: relative;
  top: 3px;
  float: right;
  cursor: pointer;
}

.dot-set {
  display: inline-block;
}

.dot {
  margin-bottom: 2px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}

.dot:last-child {
  margin-bottom: 0px;
}

#task-options-menu {
  width: 170px;
  margin-left: 10px;
  padding: 10px;
  border: none;
  background-color: rgb(129, 255, 255);
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
}

#task-options-menu a span i {
  margin-right: 10px;
}

#task-options-menu a {
  border-radius: 4px;
  padding: 5px 5px;
  display: block;
}

#task-options-menu a:hover {
  background-color: #2bbbad;
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  color: white;
}

#task-complete-icon {
  width: 30px;
  height: 30px;
  margin-top: -20px;
  margin-right: -10px;

  display: none;
}

#task-complete-icon i {
  color: #ff3f00;
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgb(175, 26, 16);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#task-time-limit-cont div {
  max-width: 400px;
}

#task-time-limit-cont div .modal-header {
  font-family: "Ubuntu-Regular";
  font-weight: 600;
  font-size: 20px;
}

#task-time-input-day-part label,
#task-time-input-time-part label {
  font-size: 15px;
  font-family: "Ubuntu-Light";
  position: relative;
  top: 8px;
  margin-right: 10px;
}

#task-time-input-day-part label {
  margin-right: 7px;
}

#task-time-input-day-part input,
#task-time-input-time-part input {
  width: 50px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  margin: auto 10px;
  text-align: center;
  font-family: "Ubuntu-Regular";
}

#task-time-input-day-part input {
  width: 50px;
}

#remove-time-check {
  margin-top: 25px;
}

#remove-time-check input {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

#remove-time-check label {
  font-size: 15px;
}

#notes-pane {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 1);
  overflow: auto;

  display: none;
}

#notes-pane-close-btn {
  float: right;
  margin: 20px 25px;
}

#notes-pane-close-btn i {
  color: cyan;
  font-size: 40px;
}

#notes-add-input-box {
  margin-top: 0px;
}

.delete-note-btn {
  float: right;
}
