#reglog-page {
  position: fixed;
  width: 0;
  height: 100%;
  font-family: 'Ubuntu-Regular';
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(62, 0, 0);
}

#tab-cont {
  width: 70%;
  margin: 150px auto;
  display: none;
}

.tabs-wrapper {
  line-height: 1;
  padding: 10px;
  font-family: 'Ubuntu-Bold';
  font-size: 18px;
  background-color: rgb(224, 44, 12);
  margin-bottom: -10px;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 3px;
}

.tabs-wrapper ul li a { color: white !important; }

#tab-cont .tab-content.card {
  background-color: rgba(0, 0, 0, 0.3);
}

#tab-cont div div form div input { color: white; }
#tab-cont div div form p { color: white; }

#pane1 { display: none; }

.reglog-error-box {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  text-align: right;
}

.faded-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.55), rgba(0, 0, 0, 0));
}

#reglog-btn, #sign-out-btn { 
  position: relative;
  top: -4px;
  margin: 0px;
  padding: 10px;
  font-size: 12px;
  margin-left: 20px;
  font-family: 'Ubuntu-Medium';
}

#sign-out-btn {display: none; }

#reglog-close-btn i { 
  color: white; 
  font-size: 45px; 
  margin: 20px; 
}

.md-form i { line-height: 1.6; }

.tab-content-body {
  padding: 40px;
}
